if url
    nav.nav__fixed(id='menu')
        .nav__container
            .logo
                img.logo__img(src='../img/icons/logo_transparent.png' alt='logo')
            ul.nav__items
                li.nav__elements!=typeof page !== 'undefined' && page === 'homepage' ? '.active' : ''
                    a(href="/") Home
                li.nav__elements
                    a(href="/universities") Universities
                li.nav__elements
                    a(href="/campus") Campus
                div
                
                .fix__login
                    if user
                        li.nav__elements
                            a.button.button-user(href=`/dashboard`,id='login')=user.name
                                //- span 4
                        li.nav__elements
                            a.button.button-logout(href="#",id="lgtBTN") logout
                    else
                        li.nav__elements
                            a.button.button-signup(href="/signup") Sign Up
                        li.nav__elements
                            a.button.button-login(href="/login") login

        .dropdown__profile
            .list
                a.list__item.list__item__link(href='#') View Profile
                h3.list__item Hi
                h3.list__item Hi

else
    nav.nav__fixed(id='menu' style='display:block;')
        .nav__container
            .logo
                img.logo__img(src='../img/icons/logo_transparent.png' alt='logo')
            ul.nav__items
                li.nav__elements
                    a(href="/") Home
                li.nav__elements
                    a(href="/universities") Universities
                li.nav__elements
                    a(href="/campus") Campus
                div
                .fix__login
                    if user
                        li.nav__elements
                            a.button.button-user(href=`/dashboard`,id='login')=user.name
                                //- span 4
                        li.nav__elements
                            a.button.button-logout(href="#",id="lgtBTN") logout
                    else
                        li.nav__elements
                            a.button.button-signup(href="/signup") Sign Up
                        li.nav__elements
                            a.button.button-login(href="/login") login

        .dropdown__profile
            .list
                a.list__item.list__item__link(href='#') View Profile
                h3.list__item Hi
                h3.list__item Hi













