extend base

include _cards

block content
    section.universities
        .search__container
            form.search(action="", method="get")
                input.search__input(type="text", name="search" placeholder= "Search")
                button.search__button(type="submit")
                    ion-icon(name="search")
        
        .uni__row
            +universityCard('The Arab Open University','AOU','loremloremlorem','location','programs','students','date','123','rate')
            +universityCard('The Arab Open University','AOU','loremloremlorem','location','programs','students','date','123','rate')
            +universityCard('The Arab Open University','AOU','loremloremlorem','location','programs','students','date','123','rate')


    



    